<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://localhost:3000/js/index.js"></script>
    <script src="http://localhost:3000/js/common.js"></script>


</head>
<body>
    <header>
        <h1>IPL Teams - Updates</h1>
    </header>
    <section class="section" id="login-section">
        <fieldset>
            <h2>Login</h2>
            <input type="email" name="lemail" id="lemailid" placeholder="Email Id">
            <input type="password" name="lpassword" id="lpassword" placeholder="Password">
            <input type="button" value="Login" id="loginbtn">
        </fieldset>
    </section>
    <section class="section" id="Register">
        <fieldset>
            <h2>Register</h2>
            <input type="text" name="name" id="name" placeholder="name">
            <input type="email" name="remail" id="remailid" placeholder="Email Id">
            <input type="password" name="rpassword" id="rpassword" placeholder="Password">
            <input type="button" value="Register" id="registerbtn">
        </fieldset>
    </section>
</body>
</html>